
.container{
	width: 800px;
	margin: auto;
}
.header{
	padding: 20px;
}

.header .judul{
	font-family: sans-serif;
	font-size: 30px;
	background-image: url('gambar/gambarUtama.png');
}

.header ul li{
	display: inline;
	margin-right: 100px;
}