.body{
	box-sizing: auto;
}
.container{
	
	display: flex;
	flex-direction: column;
	width: 1340px;
	height: 2500px;
	/*background-color: cyan;*/

}
.box{
	/*background-color: yellow;*/
	margin: 5px;
	

}
.kotak{
	flex-grow: 1;
	margin: 5px;
	background-color: pink;


}


.satu{
	flex-grow: 9;
	background-image: url(gambar/gambarUtama.png);
}
.dua{
	display: flex;
	flex-direction: row;
	flex-grow: 3;
}
.tiga{
	display: flex;
	flex-grow: 6;
	flex-direction: row;
}
.empat{
	display: flex;
	flex-grow:9 ;
	flex-direction: row;
	background-color: cyan;
}
.lima{
	display: flex;
	flex-grow: 7;
	flex-direction: row;
}
.enam{
	display: flex;
	flex-grow: 9;
	flex-direction: row;
}
.tujuh{
	flex-grow: 7;
}
.delapan{
	flex-grow: 7;
}
.sembilan{
	flex-grow: 9;
}
.card{
	flex-grow: 1;
	background-image: url(gambar/gambarCard.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
	
.cardAlison{
	flex-grow: 1;
	background-image: url(gambar/alison.png);
	background-repeat: no-repeat;
	background-position: center;

}
.cardAlicia{
	flex-grow:1;
	background-image: url(gambar/alicia.png);
	background-repeat: no-repeat;
	background-position: center;
}
.card2{
	flex-grow: 1;
	background-image: url(gambar/federasi.png);

	background-repeat: no-repeat;
}
.card3{
	flex-grow: 1;
}
.cardDaun1{
	flex-grow:1 ;
	background-image: url('gambar/union.png');
	background-repeat: no-repeat;
	background-position: right;
	
}
.cardSepatu{
	flex-grow: 1;
	background-image: url('gambar/sepatu.png');
	background-repeat: no-repeat;
	background-position: right;
	background-color: cyan;
	border-radius: 30px;
}