.body{
	box-sizing: auto;
}
.container{
	
	display: flex;
	flex-direction: column;
	width: 1340px;
	height: 2500px;
	/*background-color: cyan;*/

}
.box{
	/*background-color: yellow;*/
	margin: 5px;
	

}
.kotak{
	flex-grow: 1;
	margin: 5px;
	background-color: pink;


}


.satu{
	flex-grow: 9;
	background-image: url(gambar/gambarUtama.png);
}
.dua{
	display: flex;
	flex-direction: row;
	flex-grow: 3;
}
.tiga{
	display: flex;
	flex-grow: 6;
	flex-direction: row;
}
.empat{
	display: flex;
	flex-grow:9 ;
	flex-direction: row;
	background-color: cyan;
}
.lima{
	flex-grow: 7;
}
.enam{
	flex-grow: 7;
}
.tujuh{
	flex-grow: 7;
}
.delapan{
	flex-grow: 7;
}
.sembilan{
	flex-grow: 9;
}
.card{
	flex-grow: 1;
	
	
	background-image: url(gambar/gambarCard.png);
}
.cardAlison{
	flex-grow: 1;
	background-image: url(gambar/alison.png);
}
.cardAlicia{
	flex-grow: 1;
	background-image: url(gambar/alicia.png);
}
.card2{
	flex-grow: 1;
	background-image: url(gambar/federasi.png);
}
.card3{
	flex-grow: 1;
}